# Dependencies
node_modules

# Build output
dist
dist-ssr

# Local env & editor
*.local
.env
.env.*
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*

# Vite cache
.vite
node_modules/
.next/
dist/
build/
